.notes {
  margin-top: 25px;
  .ant-list-item-meta-description {
    color: rgba(0,0,0,.65);
  }
  .ant-card-body {
    padding: 24px 0;
  }

  .ant-list {
    .ant-list-item {
      padding: 12px 24px;
    }

    .ant-list-pagination {
      padding-right: 24px;
    }
  }
}

.note-modal {
  .ant-modal-body {
    min-height: 100px;
    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 154px;
    }
    #add-note-form,
    #edit-note-form {
      min-height: 154px;
      textarea {
        min-height: 100px;
      }
    }
  }
  &.delete-note-modal {
    .loader {
      flex: 1;
      min-height: auto;
    }
    .ant-modal-body {
      display: flex;
    }
  }
}
