@import 'resources/assets/styles/app/mixins';
@import 'resources/assets/styles/app/vars';

.analytics-page {
  width: 100%;

  .ant-page-header {
    .ant-page-header-content {
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
    }
    .ant-picker {
      width: 215px;
      margin-left: 0;
    }
  }

  .container {
    @include container();
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .ant-statistic,
    .ant-card {
      width: 49%;
    }

    .ant-card {
      .ant-descriptions-item-label {
        font-size: 24px;
        line-height: 32px;
        color: $color-black-base;
        opacity: 0.85;
        width: 200px;
      }

      .ant-descriptions-item-content {
        font-size: 32px;
        line-height: 32px;
        color: $color-blue-base;
        opacity: 0.9;
      }
    }
  }

  .financial,
  .profit {
    .ant-card-head {
      border: none;
    }
    .ant-card-body {
      padding-top: 0;
    }
  }

  .financial {
    margin-bottom: 25px;
  }
}
