.contract-modal {
  .loader {
    min-height: 376px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #contract-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 376px;
    .ant-row {
      width: 48%;
    }

    .ant-picker {
      width: 100%;
    }

    .commodity,
    .quantity,
    .price {
      width: 32%;
    }

    .add {
      width: 20%;
      margin-bottom: 0;
    }

    .delete {
      width: 80%;
    }

    .add {
      button {
        padding-left: 0;
      }
    }
  }

  &.create-seller-modal {
    .loader,
    #contract-form {
      min-height: 290px;

      .seller {
        width: 100%;
      }
    }
  }
}
