.change-password-modal {
  .loader {
    min-height: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ant-modal-body {
    min-height: 100px;
  }
  #change-password-form {
    min-height: 172px;
  }
  .success {

  }
}
