/node_modules
/public/hot
/public/storage
/public/*.js
/public/js
/public/css
/public/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
/sourcefiles/postgres
/public/js/app.js

.DS_Store
npm-debug.log
yarn-error.log
package.back
.idea/
/.idea
.vscode
/db
output.txt
