.merge-shipments-modal {
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-height: 141px;
  }

  #merge-modal-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;

    .ant-row {
      width: 48%;
    }
  }
}