@import '~/app';

.seller-page-header {
  .ant-descriptions-item-label,
  .ant-descriptions-item-content {
    font-size: 16px;
    line-height: 26px;
    color: $color-black-base;
  }

  .left {
    .ant-descriptions-item-content {
      opacity: 0.65;
    }
  }

  .right {
    text-align: right;

    .ant-descriptions-item-label {
      opacity: 0.65;
      &::after {
        content: none;
      }
    }

    .credit {
      font-size: 24px;
      line-height: 38px;

      &.positive {
        color: $color-green-base;
      }

      &.negative {
        color: $color-red-base;
      }
    }
  }
}