@import '~/app';

.dashboard-page {
  @include container();
  margin-top: 25px;
  padding-bottom: 25px;

  .panel,
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .panel {
    .title {
      font-size: 12px;
    }

    .value {
      font-size: 14px;
      color: $color-black-base;
    }
  }

  .income {
    text-align: right;
    .value {
      color: $color-green-base;
    }
  }

  .expenses {
    width: 124px;
    margin: 0 0 0 auto;
    text-align: right;


    .value {
      color: $color-red-base;
    }
  }

  .contracts {
    margin: 0;
    
    .contract {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      border-bottom: 1px solid $color-gray-base;

      .title {
        color: $color-black-base;
        opacity: 0.85;

        span {
          color: $color-blue-base;
        }
      }

      .sum {
        &.positive {
          color: $color-green-base;
        }

        &.negative {
          color: $color-red-base;
        }
      }
    }
  }
}