@import '~/app';

.dashboard-main-info {
  display: flex;
  justify-content: space-between;

  .wrapper,
  .dashlet {
    width: 49%;
    background-color: $color-white-base;
  }

  .ant-statistic {
    .ant-statistic-title {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 28px;
    }
  }

  .own,
  .credit {
    .ant-statistic-content-value-int,
    .ant-statistic-content-value-decimal {
      font-size: 24px;
      line-height: 46px;
    }
  }

  .total {
    .ant-statistic-content {
      color: $color-blue-base;
    }

    .ant-statistic-content-prefix,
    .ant-statistic-content-value-int,
    .ant-statistic-content-value-decimal {
      font-size: 38px;
      line-height: 46px;
    }
  }
}