.dashboard-payments {
  margin-bottom: 25px;

  .ant-card-extra {
    display: flex;
    white-space: nowrap;
  }

  .loader {
    // min-height: 697px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-card-body {
    // min-height: 697px;
  }

  .ant-pagination {
    padding-top: 15px;
    text-align: right;
  }
}