
  .contract-page-content {
    padding: 0 25px;
    .ant-card + .ant-card {
        // margin-top: 25px;
    }

    .ant-collapse-content-box {
        padding: 0;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;

        .ant-card {
            width: 49%;
        }

        .ant-card-head {
            padding: 0;
        }

        .ant-card-body {
            padding: 0;
        }
        
        .ant-table-wrapper {
            // width: 49%;
        }
    }
}