@import '~/app';

.expenses {
    .expenses-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .expenses-left,
      .expenses-right {
        display: flex;
        flex-direction: column;

        span {
          color: $color-black-base;
          opacity: 0.65;

          &.title {
            margin-bottom: 5px;
          }
        }
      }

      .expenses-right {
        margin-right: 260px;
      }
      .expenses-text-right {
        text-align: right;
      }
    }

    .ant-collapse-content-box {
      padding: 0;
    }
  }

  .expenses {
    .ant-card-head {
      border: none;
    }

    .transfer {
      margin-right: 15px;
    }
  }