.planned-modal {
    .loader {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
  
    #planned-form {
      min-height: 258px;
      width: 100%;
    }
    .ant-modal-body {
        min-height: 100px;
        display: flex;
      }
  }
  