@import '~/app';

.ant-dropdown {
  a {
    color: $color-black-base;
    opacity: 0.65;

    &.delete {
      color: $color-red-base;
    }

    &.add-containers,
    &.edit-shipment,
    &.merge,
    &.add-income,
    &.add-payment {
      color: $color-blue-base;
    }
  }

  .anticon {
    margin-right: 15px;
  }
}
