.layout {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    background: #f0f2f5;
    min-height: 100%;
    &-header {
        display: flex;
        box-shadow: rgb(240, 241, 242) 0px 2px 8px;
        z-index: 2;
    }
    &-content {
        display: flex;
        flex: 1;
        min-height: 0;
        z-index: 1;
    }
}







