.user-info {
    display: flex;
    align-items: center;
    margin-left: 50px;
    .user-email {
        margin: 0;
        line-height: 22px;
        font-size: 14px;
        padding: 5px 0;
    }
}

.user-info-dropdown {
    .ant-dropdown-menu-item {
        padding: 8px 20px;
        .anticon {
            font-size: 14px;
        }
    }
    .user-info-link {
        padding-left: 4px;
        display: inline-block;
        margin: 0;
    }
}