@import '~/app';

.analytics-main-info {
  padding: 16px 24px;
  background-color: $color-white-base;

  .ant-descriptions-item {
    padding-bottom: 0;
  }

  .ant-descriptions-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ant-descriptions-item-label {
    font-size: 18px;
    line-height: 30px;
  }

  .ant-descriptions-item-content {
    font-size: 24px;
    line-height: 38px;
    color: $color-blue-base;
  }
}