.unfinish-contract-modal {
  .loader {
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .question {
    display: flex;
    flex-direction: column;
  }
}