@import 'resources/assets/styles/app/vars';

.filter {
  margin-bottom: 25px;
  padding: 15px 25px 20px 25px;
  background-color: $color-white-base;

  .title {
    margin-bottom: 15px;
    font-size: 18px;
    color: $color-black-base;
    opacity: 0.85;
  }

  form {
    .ant-form-item input,
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      width: 140px;
    }
  }
}