@import '~/app';

.notifications-page {
  width: 100%;

  .ant-page-header {
    .ant-picker {
      margin-left: 0;
    }
  }

  .container {
    @include container();

    #notifications-form {
      position: relative;

      .ant-form-item {
        &:nth-last-of-type(2) {
          position: absolute;
          right: 70px;
        }

        &:last-child {
          position: absolute;
          right: 0;
          margin-right: 0;
        }
      }
    }

    .ant-card-body {
      padding-top: 0;
    }

    .ant-list {
      .ant-avatar {
        background: none;
        width: 42px;
        height: 42px;

        svg {
          width: 42px;
          height: 42px;
        }
      }

      .ant-list-item-meta {
        margin-bottom: 0;
      }

      .ant-list-item-meta-title {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 22px;
        color: $color-black-base;
        opacity: 0.65;
      }

      .extra-item {
        font-size: 12px;
        line-height: 20px;
        color: $color-black-base;
        opacity: 0.45;
      }
    }
  }
}