.pie-chart {
  .g2-legend {
    &-list {  
      &-item {
        display: flex !important;
        justify-content: space-between;
        width: 240px !important;
        margin-bottom: 8px !important;
        margin-right: 0 !important;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}