.add-expense-modal {
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-height: 290px;
  }

  #add-expense-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .ant-radio-group {
      .ant-radio-wrapper-disabled {
        display: none;
      }
    }
  }

  .expense-type {
    width: 100%;
  }

  .description,
  .date,
  .amount,
  .payment-type,
  .shipment {
    width: 48%;
  }
}