.edit-container-modal {
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-height: 256px;
  }

  #edit-container-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .ant-row {
      &.container {
        width: 100%;
      }

      &.quantity,
      &.price,
      &.label {
        width: 48%;
      }
    }
  }
}