.edit-shipment-modal {
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-height: 154px;
  }

  #edit-shipment-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .ant-row {
      width: 48%;
      margin-bottom: 15px;
    }
  }

  .ant-modal-body {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 154px;
  }
}