@import 'resources/assets/styles/app';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  line-height: 64px;
  padding: 0 25px;
  color: rgba(0,0,0,.65);
  background: $color-white-base;
  
  .header-col {
    display: flex;
    align-items: center;
  }

  .right {
    align-items: center;

    .ant-badge {
      margin-right: 40px;
    }

    .user {
      margin-left: 10px;

      p {
        margin: 0;
        color: $color-black-base;
      }

      .user-name {
        line-height: 1.2;
        opacity: 0.85;
      }

      .user-role {
        font-size: 12px;
        line-height: 1;
        opacity: 0.65;
      }
    }
  }

  .header-logo {
    margin-right: 35px;
  }
}