@import '~/app';

.ant-btn-successfull {
    background-color: $color-green-base;
    border-color: $color-green-base;
    &:hover,
    &:focus {
        background-color: $color-green-light;
        border-color: $color-green-light;
    }
    &:not([disabled]):active {
        background-color: $color-green-dark;
        border-color: $color-green-dark;   
    }
}