.ant-pagination {
    &.ant-table-pagination {
        margin: 16px 24px;
    }
    .ant-pagination-item-link,
    .ant-pagination-item,
    .ant-pagination-options-quick-jumper input {
        border-radius: 6px;
    }
    
    .ant-pagination-options-quick-jumper input {
        margin-right: 0;
    }
    
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        border-radius: 6px;
    }
    
    .ant-pagination-item-active {
        background-color: $color-blue-base;
        
        a {
        color: $color-white-base;
        }
    }
}