@import '~/app';

.table-cell-number {
    text-align: right !important;
    padding-right: 32px !important;
}

.table-cell-red {
    color: $color-red-base;
}

.ant-table-cell {
    .ant-btn-link {
        margin: 0 10px 0 0;
        padding: 0;
        & + .ant-btn-link {
            margin-left: 10px;
            // border-left: 1px solid $color-gray-light;
        }
    }
    .ant-dropdown-link {
        margin-left: 10px;
        padding: 0;
        // border-left: 1px solid $color-gray-light;
    }
}

.ant-table-tbody {
    .ant-table-cell {
        &:not(.table-cell-wrap) {
            white-space: nowrap;
        }
    }
}